body {
    font-family: "Open Sans", sans-serif;
    background: black;
    color: aqua;
    margin-left: 15%;
    margin-right: 15%;
  }
  header {
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
  }
  h1 {
    margin-bottom: 0;
    color: whitesmoke;
  }
  
  .side {
    color: rgb(250, 250, 250);
    padding-bottom: 50px;
  }
  
  .image {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .figcaption {
    text-align: center;
  }
  nav {
    width: 100%;
  }
  hr {
    width: 400px;
    margin-left: 1px;
  }
  footer {
    margin-top: 5em;
  }
  
  nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  .quote {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50vw;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
  }
  a {
    color: lightsalmon;
    text-decoration: none;
  }
  ol {
    padding-bottom: 50px;
    color: whitesmoke;
  }
  